
# Ignore all by default
*

# Unignore self and assets :P
!.gitignore
!assets
!assets/*

# Get rid of the pesky DS Store....
*.DS_Store

# Created by https://www.gitignore.io/api/web

### Web Reversed ###
!*.asp
!*.cer
!*.csr
!*.css
!*.htm
!*.html
!*.js
!*.jsp
!*.php
!*.rss
!*.xhtml

# End of https://www.gitignore.io/api/web
